* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #6a9189;

  font: 11px sans-serif;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
}

.chart {
  display: block;
  margin: auto;

  height: 500px;
  width: 850px;
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#title {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
}

.bar {
  stroke: #fff;
  transition: fill 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.bar:hover {
  fill: #2a75ff;
  transform: scaleY(1);
}

#tooltip {
  position: absolute;
  padding: 10px;
  color: #f4fffd;
  font: 12px;
  font-family: Verdana, sans-serif;
  background: #707b88;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0.9;
}

.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
